@import url(http://fonts.googleapis.com/css?family=Dosis:400&subset=latin,latin-ext);

/*----- Capture as HTML element ----------------------------------------------*/
body
{
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-size: 12pt;
    color:  #303030;
    line-height: 1.2;
}

h1 {font-size: 40pt;}
h2 {font-size: 32pt;}
h3 {font-size: 28pt;}
h4 {font-size: 24pt;}
h5 {font-size: 20pt;}
h6 {font-size: 16pt;}

q {font-size: 10.5pt;}

/*form {width: 100%;}*/

/*----- Capture by ID --------------------------------------------------------*/
#content
{
    margin: 0 auto;
    max-width: 500pt;
}

#title
{
}


/*----- Capture by class -----------------------------------------------------*/
.section
{
}

.question-block
{
    border-top: 1pt solid #e0e0e0;
    width: 100%;
    margin-top: 20pt;
}

.question-text
{
    padding-bottom: 10pt;
}

.question-hint
{
    padding: 10pt;
    display: block;
    color: #787878;
    background-color: #f0f0f0;
}

.input
{
    min-width: 100%;
    max-width: 100%;
    display: block;
}

#title, .section, .question-block, .question-text, .question-hint-block
{
    padding-bottom: 10pt;
}
