<!doctype html>
<html lang=en>
    <head>
        <meta charset=utf-8>
        <title>Form Builder</title>
        <link href="{{ url_for('static', filename='css/reset.css') }}"
              rel="stylesheet">
        <link href="{{ url_for('static', filename='css/generator.css') }}"
              rel="stylesheet">
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script src="{{ url_for('static', filename='js/formbuilder.js') }}"></script>
        <script src="{{ url_for('static', filename='js/blocks.js') }}"></script>
    </head>
    <body>
        <div id="fb-menu">
            <div id="fb-menu-parts">
                <form id="fb-menu-parts-info">
                    <div id="fb-menu-parts-info-title">
                        Form Title: <input type="text" name="form-title">
                    </div>
                    <div id="fb-menu-parts-info-language">
                        Form Language:
                        <select>
                            <option value="hu">Magyar</option>
                            <option value="en">English</option>
                        </select>
                    </div>
                </form>
                <div id="fb-menu-parts-add"
                     onclick="addNewSelectedForm(event, this)">
                    add new
                    <select id="fb-menu-parts-add-options"
                            onclick="doNothingOnSelection(event)">
                        <option value="1">Section</option>
                        <option value="2">Single-line Text</option>
                        <option value="3">Multi-line Text</option>
                        <option value="4">Check-box</option>
                        <option value="5">Radio-button</option>
                        <option value="6">Group</option>
                    </select>
                    block
                </div>
            </div>
        </div>
        <div id="fb-content">
            <form id="fb-content-form">
                <!-- form-blocks will go here -->
            </form>
        </div>
    </body>
</html>
