<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Form Builder</title>
        <!-- CSS -->
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/reset.css') }}">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/formbuilder.css') }}">

        <!-- DEBUG -->
        <script type="text/javascript"
                src="{{ url_for('static', filename='js/utils.js') }}"></script>
        <!-- DEBUG -->

        <!-- JavaScript -->
        <script type="text/javascript"
                src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script type="text/javascript"
                src="{{ url_for('static', filename='js/units.js') }}"></script>
        <script type="text/javascript"
                src="{{ url_for('static', filename='js/blocks.js') }}"></script>
        <script type="text/javascript"
                src="{{ url_for('static', filename='js/formbuilder.js') }}"></script>
    </head>
    <body>
        <script type="text/javascript">
            main();
        </script>
    </body>
</html>
